.twistie-separator {
  flex: 1 1 0%;
}

.routeIcon {
  margin-right: 10px;
  font-size: 16pt;
}

.menu-item-text {
  font-size: 10pt;
}

.menu-twistie {
  font-size: 10pt;
  height: 12px;
  width: 12px;
}

.mat-list-item{
  /* overflow-x: hidden !important; */
  transform: scale(1) !important;
  transition: all .2s ease-out;
}

.mat-list-item.active {
  transform: scale(1.08) !important;
  background: rgba(255, 255, 255, 0.151);
  color: #ffd740
}

/* .mat-list-item:hover{
  transform: scale(1.08) !important;
  transition: all .2s ease-in-out;
} */
